<!--<img itemprop="image" src="{{ site.baseurl }}/assets/emerging_approaches_banner.png">-->
<!-- shift the hero image to the left-->
<section class="hero {% if page.hero_height %} {{ page.hero_height }} {% else %} is-medium {% endif %} has-text-weight-bold is-bold is-primary" {% if page.hero_image %} style="background: url('{{ page.hero_image }}') no-repeat; background-size: 650px auto; background-position: 2% 60%" {% endif %}>
    <div class="hero-head"></div>
    <div class="hero-body {% if page.hero_darken %} hero-darken {% endif %}" style="box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.45);">
        <div class="container" style="/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10" >
            <h1 class="title is-1 has-text-light" style="text-shadow: 2px 2px 0 #000;">{{ page.title }}</h1>
            <p class="subtitle is-3" style="">{{ page.subtitle }}</p>
            {% if page.hero_link %}
                <a href="{{ page.hero_link | relative_url }}" class="button is-info is-large" target="_blank">{{ page.hero_link_text }}</a>
            {% endif %}
        </div>
    </div>
</section>
<!--text-shadow: -2px -2px 0 ##7f7f7f, 2px -2px 0 ##7f7f7f, -2px 2px 0 ##7f7f7f, 2px 2px 0 ##7f7f7f;}-->
<!---->
