---
---
@import url("https://fonts.googleapis.com/css?family=Roboto");
$hero-darken: #000;
// Set theme colors
$link: #3273dc;
$info: #3273dc;
$primary: #3273dc;
// Fonts
$body-family: "Roboto";
$title-family: "Montserrat";
// Fully outline tables
$content-table-head-cell-border-width:1px 1px 2px !default;
$content-table-cell-border-width: 1px !default;
$content-table-foot-cell-border-width: 1px;
//



// Import Main CSS file from theme
@import "main";
// Add stripes, footer line, head row background color from theme to tables
.content table tbody tr:last-child td, .content table tbody tr:last-child th {
  border-bottom-width: 1px; };
.content table thead td, .content table thead th {
  border-width: $content-table-head-cell-border-width;
  color: #ffffff;
  background-color: $link};
.content tbody tr:nth-child(even){
  background-color: $table-striped-row-even-background-color};
.content code{
  color: #da1039};
// Increase size of zoomed images
.modal-content,.modal-card{
  margin: 0 $modal-content-margin-mobile;
  max-height: 90%;
  overflow: auto;
  position: relative;
  width: 80%;};
